body {
    background-color: rgb(237,242,244);
}

.heading-1 {
    background-color: rgb(217,4,41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    text-align: center;
    color: white;
}